button {
  margin: auto 0.5rem 1rem 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: rgba(0, 211, 158, 0.8);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(0, 211, 158, 0.8);
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  background: #dddddd !important;
  cursor: help;
}
button:disabled:focus {
  box-shadow: 0 0 0 3px white, 0 0 0 6px #dddddd;
}

button:hover {
  background-color: rgba(10, 235, 179, 0.897);
  border-color: rgba(10, 235, 179, 0.897);
}

.reset {
  margin-right: 1rem;
  background: rgb(230, 0, 0, 0.9);
}

.reset:focus {
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(230, 0, 0, 0.9);
}

.reset:hover {
  background: rgb(250, 40, 40, 1);
}

.restore {
  background: rgb(236, 165, 43, 0.9);
}

.restore:focus {
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgb(236, 165, 43, 0.9);
}

.restore:hover {
  background: rgb(250, 180, 43, 1);
}

.visualise:disabled {
  cursor: progress;
}

.spinner {
  border: 0.2rem solid #f3f3f3;
  border-top: 0.2rem solid #3498db;
  border-right: 0.2rem solid #3498db;
  border-bottom: 0.2rem solid #3498db;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3rem;
  /*The center of the circle needs to offset 
   * by margin bottom so that it appears inline
   */
  margin-bottom: 0.1rem;
  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.notify {
  animation-name: notification;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.loading:after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes notification {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
